@font-face {
    font-family: "Consolas";
    src: url("consola.ttf");
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Consolas';
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-block__registration {
    margin-top: 5px;
    padding: 10px 5px;
    background-color: #d3d3d3;
    border-radius: 3px;
}

.form-block__registration .registration {
    margin-left: calc(10vw + 20px);
    padding: 2px 15px;
    border: none;
    border-radius: 10em;
    color: white;
    cursor: pointer;
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(29, 179, 86, 1) 0%, rgba(134, 255, 54, 1) 100%);
}

.form-block__form {
    font-family: "Consolas";
    font-size: 12px;
    width: 40vw;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    padding: 20px 15px;
}


.form-block__user-info,
.form-block__privacy {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-block__row,
.form-block__verification {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-block__capcha-block {
    width: 10vw;
}

.label {
    display: inline-block;
    width: 10vw;
}

.form-block__user-info {
    margin-bottom: 3vh;
}

.verificate {
    display: block;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.img {
    width: 20px;
}

.caption {
    height: 1em;
    width: fit-content;
    color: rgba(255, 53, 53, 0.8);
}

.input {
    font-family: "Consolas";
    width: 15vw;
}

.capcha {
    width: 100px;
}

@media screen and (max-width: 940px) {
    .form-block__form {
        width: 75vw;
    }

    .form-block__capcha-block {
        width: 15vw;
    }

    .input {
        width: 30vw;
    }

    .label {
        width: 15vw;
    }

    .form-block__registration .registration {
        margin-left: calc(15vw + 20px);
    }

}

@media screen and (max-width: 500px) {
    .form-block__form {
        width: 90vw;
    }

    .form-block__capcha-block {
        width: 20vw;
    }

    .label {
        width: 20vw;
    }

    .capcha {
        width: 80px;
    }

}

.accept {
    background-color: rgba(134, 255, 54, 0.775);
}

.deny {
    background-color: rgba(255, 53, 53, 0.545);
}